<%= form_with(model: @team, local: true, class: "select-team") do |f| %>
  <%= render partial: 'shared/error_messages', locals: {model: @team} %>
 
  <div class="form-group">
    <%= f.label :name, "Team name:", class: "form-label" %>
    <%= f.text_field :name, placeholder: "Sandy's Speedsters", class: "form-input" %>
  </div>

  <hr class="spacer"/>

  <div class="form-group table">
    <div class="caption">
      Select five drivers:
    </div>
    <div class="tr">
      <div class="th"></div>
      <div class="th">#</div>
      <div class="th">Photo</div>
      <div class="th">Name</div>
      <div class="th">Car</div>
      <div class="th">Team</div>
      <div class="th">Make/Model</div>
      <div class="th">Speed</div>
    </div>
    <%= f.collection_check_boxes(:driver_ids, Driver.current.all.sort_by(&:starting_position), :id, :name, include_hidden: false) do |b| %>
      <% b.label(class: "form-checkbox tr") do %>
        <div class="td selected">
          <%= b.check_box %>
          <i class="form-icon"></i>
        </div>
        <div class="td number">
          <%= b.object.number %>
        </div>
        <div class="td photo">
          <img src="<%= b.object.driver_image %>" alt="<%= b.object.name %>" style="height: 48px"/>
        </div>
        <div class="td name">
          <%= b.text %>
        </div>
        <div class="td car">
          <img src="<%= b.object.car_image %>" alt="<%= b.object.team %> car" style="height: 48px"/>
        </div>
        <div class="td team">
          <%= b.object.team %>
        </div>
        <div class="td make_model">
          <%= b.object.make_model %>
        </div>
        <div class="td speed">
          <%= b.object.qualifying_speed %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
