<%= form_with(model: @grid, local: true) do |f| %>
  <%= render partial: 'shared/error_messages', locals: {model: @grid} %>
 
  <div>
    <%= f.label :lap %><br>
    <%= f.text_field :lap %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>