<h1>Grids</h1>

<%= link_to 'New grid', new_grid_path %>
 
<table>
  <thead>
    <tr>
      <th>Lap</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @grids.each do |grid| %>
      <tr>
        <td><%= grid.lap %></td>
        <td><%= link_to 'Show', grid_path(grid) %></td>
        <td><%= link_to 'Edit', edit_grid_path(grid) %></td>
        <td><%= link_to 'Delete', grid_path(grid), method: :delete, data: {confirm: "Are you sure?"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>