<%= form_with(model: @user, local: true, url: yield(:url)) do |f| %>
  <%= render partial: 'shared/error_messages', locals: {model: @user} %>

  <div class="form-group">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-input" %>
  </div>

  <div class="form-group">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, class: "form-input" %>
  </div>

  <div class="form-group">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, class: "form-input" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirmation", class: "form-label" %>
    <%= f.password_field :password_confirmation, class: "form-input" %>
  </div>
  
  <div class="form-group">
    <%= f.submit yield(:button_text), class: "btn btn-primary btn-block" %>
  </div>
<% end %>