<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Driver</th>
      <th scope="col"><span class="hide-md">Car</span></th>
      <th scope="col"><abbr title="Position">Pos.</abbr></th>
    </tr>
  </thead>
  <tbody>
    <% @team.drivers.each do |driver| %>
      <tr>
        <td><%= driver.number %></td>
        <td>
          <div class="driver" data-testid="driver">
            <div class="driver-image hide-xs"><img src="<%= driver.driver_image %>" alt="<%= driver.name %>" style="height: 48px"/></div>
            <div class="driver-name"><%= driver.name %></div>
          </div>
        </td>
        <td><img src="<%= driver.car_image %>" alt="<%= driver.team %> car" style="height: 48px" class="hide-md"/></td>
        <td><span data-testid="current-position"><%= driver.current_position > 0 ? driver.current_position : "NA" %></span></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr class="subtotal">
      <th scope="row" colspan="3">Score</th>
      <td data-testid="score"><%= @team.score && @team.score > 0 ? @team.score : "NA" %></td>
    </tr>
  </tfoot>
</table>
