<% provide(:title, "Dashboard") %>

<div class="column col-12">
  <h1>
    <%= gravatar_for current_user %>
    <%= current_user.name %>
  </h1>
  <p>Current race status: <%= Grid.maximum("lap") || 0 %> of 200 laps</p>
  <div class="columns">
    <div class="team column col-6">
      <h3>Team</h3>
      <% if @team %>
        <header>
          <h5 class="title"><%= link_to @team.name, @team %></h5>
          <div class="actions">
            <%= link_to "âœï¸", edit_team_path(@team), class: "action" %>
            <%= link_to "ðŸ—‘", team_path(@team), method: :delete, data: {confirm: "Are you sure?"}, class: "action" %>
          </div>
        </header>
        <%= render "shared/team" %>
      <% else %>
        <%= link_to "Create a new team", new_team_path, class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
    <div class="leagues column col-6">
      <h3>Leagues</h3>
      <% if @team %>
        <div class="league-list">
          <% @team.leagues.each do |league| %>
            <div class="tile tile-centered">
              <div class="tile-content">
                <div class="tile-title"><%= link_to league.name, league %></div>
                <small class="tile-subtitle text-gray">Rank: <%= league.rank(@team) %> of <%= league.teams.count %></small>
              </div>
            </div>
          <% end %>
        </div>
        <%= link_to "Create a league", new_league_path, class: "btn btn-large btn-primary" %> or 
        <%= link_to "join an existing league", leagues_path %>
      <% else %>
        <div class="empty">
          <p class="empty-title h5">You need a team</p>
          <p class="empty-subtitle">Once your team is setup, you'll be able to join leagues.</p>
          <div class="empty-action">
            <%= link_to "Create a new team", new_team_path, class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>