<%= form_with(model: @driver, local: true) do |f| %>
  <%= render partial: 'shared/error_messages', locals: {model: @driver} %>
 
  <div class="form-group">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-input" %>
  </div>
  <div class="form-group">
    <%= f.label :driver_image, class: "form-label" %>
    <%= f.text_field :driver_image, class: "form-input" %>
  </div>
  <div class="form-group">
    <%= f.label :car_image, class: "form-label" %>
    <%= f.text_field :car_image, class: "form-input" %>
  </div>
  <div class="form-group">
    <%= f.label :number, class: "form-label" %>
    <%= f.text_field :number, class: "form-input" %>
  </div>
  <div class="form-group">
    <%= f.label :team, class: "form-label" %>
    <%= f.text_field :team, class: "form-input" %>
  </div>
  <div class="form-group">
    <%= f.label :make_model, class: "form-label" %>
    <%= f.text_field :make_model, class: "form-input" %>
  </div>
  <div class="form-group">
    <%= f.label :qualifying_speed, class: "form-label" %>
    <%= f.text_field :qualifying_speed, class: "form-input" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary btn-block" %>
  </div>
<% end %>