<h1>Drivers</h1>
 
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>Team</th>
      <th>Make & Model</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.name %></td>
        <td><%= driver.number %></td>
        <td><%= driver.team %></td>
        <td><%= driver.make_model %></td>
        <td><%= link_to 'Show', driver_path(driver) %></td>
      </tr>
    <% end %>
  </tbody>
</table>