<div>
  <img src="<%= @driver.driver_image %>" alt="<%= @driver.name %>" style="height: 48px"/>
</div>

<div>
  <strong>Name:</strong>
  <%= @driver.name %>
</div>

<div>
  <img src="<%= @driver.car_image %>" alt="<%= @driver.team %> car" style="height: 48px"/>
</div>
 
<div>
  <strong>Number:</strong>
  <%= @driver.number %>
</div>
 
<div>
  <strong>Team:</strong>
  <%= @driver.team %>
</div>
 
<div>
  <strong>Make & Model:</strong>
  <%= @driver.make_model %>
</div>
 
<div>
  <strong>Qualifying Speed:</strong>
  <%= @driver.qualifying_speed %>
</div>

<h2>Postions</h2>

<table>
  <thead>
    <tr>
      <th>Lap</th>
      <th>Place</th>
    </tr>
  </thead>
  <tbody>
    <% @driver.positions.each do |position| %>
      <tr>
        <td><%= position.lap %></td>
        <td><%= position.place %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Add a position:</h2>

<%= form_with(model: [ @driver, @driver.positions.build ], local: true) do |form| %>
  <div>
    <%= form.label :lap %><br>
    <%= form.text_field :lap %>
  </div>
  <div>
    <%= form.label :place %><br>
    <%= form.text_field :place %>
  </div>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_driver_path(@driver) %>
<%= link_to 'Delete', driver_path(@driver), method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to 'Back', drivers_path %>