<div>
  <strong>Name:</strong>
  <%= @driver.name %>
</div>
 
<div>
  <strong>Number:</strong>
  <%= @driver.number %>
</div>
 
<div>
  <strong>Team:</strong>
  <%= @driver.team %>
</div>
 
<div>
  <strong>Make & Model:</strong>
  <%= @driver.make_model %>
</div>

<%= link_to 'Edit', edit_driver_path(@driver) %>
<%= link_to 'Back', drivers_path %>